<h1>Modification d'un film</h1>

<% if @movie.errors.any? %>

	<h2>Erreurs empechant le film d'être modifié</h2>
	<ul>
		<% @movie.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @movie do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br/>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to "Retour à la liste des films", movies_path %>