%h2{:align => "center"}
  Title: #{@movie.title}
.well.col-xs-8.col-xs-offset-2
  %h4.center.description
    %strong Description:
  %hr
  = simple_format(@movie.description)
  .movie-actions
    = link_to "Modifier le film", edit_movie_path(@movie), class: "btn btn-xs btn-primary"
    = link_to "Supprimer le film", movie_path(@movie), method: :delete, |
      data: { confirm: "Are you sure you want to delete the film?"},       |
      class: "btn btn-xs btn-danger"                                          |
    = link_to "Voir tout les films", movies_path, class: "btn btn-xs btn-success"
