-# - if @movie.errors.any?
-# 	%h2 The following errors prevented the movie from getting created
-# 	%ul
-# 		- @movie.errors.full_messages.each do |msg|
-# 			%li= msg 

= simple_form_for @serie do |f|
	= f.input :title
	= f.input :description

	= f.submit

= link_to "Retour à la liste des séries", series_path