%h1.card-title
  = @serie.title
.card-single
  %img.card-img-top{:alt => "Pas d'image associé", :src => @serie.profile_image}/
  .card-body
    %p.card-text 
      = @serie.description
  .list-group{:id => "accordian"}
    - @serie.episodes.group_by(&:season).each do |season, episodes|
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a.list-group-item.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "##{season}"}
              = "Saison" + season.to_s
        .panel-collapse.collapse{:id => "#{season}"}
          .panel-body
            %ul
              - episodes.each do |episode|
                %li.list-group-item
                  = episode.human_name
                  = check_box_tag('seen_episode', '', episode.seen, data: {url: episode_is_seen_path(episode.id), remote: true})