%nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      = link_to 'Series Tracker', series_path, class: "navbar-brand", id: "logo"
    / Collect the nav links, forms, and other content for toggling
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active= link_to 'Nouvelle série', new_serie_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.nav-item.active= link_to 'Modifier', edit_user_registration_path
          %li.nav-item.active= link_to 'Se déconnecter', destroy_user_session_path, method: :delete
        - else
          %li.nav-item.active= link_to 'Se connecter', new_user_session_path
          %li.nav-item.active= link_to 'S\'inscire', new_user_registration_path
    / /.navbar-collapse
  / /.container-fluid

